.currency {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list__title {
        margin-top: 20px;
        padding: 50px 20px;
        text-align: center;

    }

    .list__title h2 {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        color: #5C2610;
        font-size: 3em;
        font-weight: normal;
        line-height: 1;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
    }

    .list__title h2:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 200%;
        border-radius: 50%/30%;
        border: 6px solid #5C2610;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    .updated-date {
        position: absolute;
        left: 0;
        top: 150px;
        padding: 50px 20px 50px 170px;
        text-align: center;
    }

    .updated-date .date {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        position: relative;
        color: #587493;
        font-size: 1em;
        font-weight: normal;
        display: inline-block;
        margin: 0;
        line-height: 1;
        padding: 8px 20px 8px 2px;
        border-top: 4px solid;
    }

    .updated-date .date:before {
        content: "Updated";
        position: absolute;
        top: -8px;
        left: -90px;
        font-size: 1.5em;
        transform: rotate(-25deg);
        font-family: 'Marck Script', cursive;
    }

    .updated-date .date:after {
        content: "";
        position: absolute;
        width: 120%;
        height: 4px;
        right: 0;
        bottom: -4px;
        background: #587493;
    }

    .currency__base {
        margin-top: -50px;
        font-weight: 700;
        font-size: 24px;
        color: rgba(255, 0, 0, 0.534);
    }

    .currency__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        width: 100%;
        list-style-type: none;

        .currence__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            padding: 0 5px;
            height: 35px;
            width: 250px;
            border: 1px solid black;

            .currency__current {
                font-weight: 700;
            }
        }
    }
}